<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="isExpanded"
    [fixedInViewport]="isMobile"
    [style.width.px]="isMobile ? (isExpanded ? 260 : 56) : 300"
  >
    <div class="w-full h-full bg-white p-5">
      <button mat-icon-button (click)="toggleSidenav()" class="toggle-btn cursor-pointer">
        <mat-icon>{{ isExpanded ? "chevron_left" : "menu" }}</mat-icon>
      </button>
      <div class="mb-8 pb-4 border-b border-gray-200">
        <h2 class="text-lg font-semibold text-gray-800">Admin Panel</h2>
      </div>

      <div class="space-y-3 rounded-xl text-black">
        <button
          mat-flat-button
          (click)="redirectNavigation('dashboard')"
          [ngClass]="{
            'bg-gray-300 hover:bg-gray-200': selectedTab !== 'dashboard',
            'bg-gray-300 underline underline-offset-4':
              selectedTab === 'dashboard'
          }"
          class="w-full justify-start text-left p-4 rounded-lg transition-all duration-300 ease-in-out flex items-center"
        >
          <mat-icon class="mr-3 text-blue-400">dashboard</mat-icon>
          Dashboard
        </button>

        <button
          mat-flat-button
          (click)="redirectNavigation('userPanel')"
          [ngClass]="{
            'bg-gray-300 hover:bg-gray-200': selectedTab !== 'userPanel',
            'bg-gray-300 underline underline-offset-4':
              selectedTab === 'userPanel'
          }"
          class="w-full justify-start text-left p-4 rounded-lg transition-all duration-300 ease-in-out flex items-center"
        >
          <mat-icon class="mr-3 text-green-400">people</mat-icon>
          User Management
        </button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
